.help-article {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__loading,
  &__no-faqs {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__modal-footer {
    margin-top: 20px;
  }

  &__list {
    overflow: auto;

    &-item {
      box-shadow: rgb(0 0 0 / 8%) 0px 1px 8px;
      padding: 20px;
      margin: 20px;
      border-radius: 8px;

      &-title {
        margin-bottom: 4px;
      }

      &-subtitle {
        display: inline-block;
        padding-bottom: 12px;
      }

      &-description {
        margin: 0;
      }
    }
  }
}
